
{% extends "DressmeBundle:Dressme:home.html.twig" %}


{% block body %}


<div class="tab">
<div class="container">
    <a href="{{ path('encaissement') }}"><button type="button" class="btn btn-primary">Retour</button></a>
        <div class="col-xs-12 col-sm-12 col-md-12 ">
<div class="modal-body">
    <h1>Modification encaissement</h1>

{{ form_start(edit_form) }}

  

	<div class="form-groupe">
	<div class="label-style">{{ form_label(edit_form.client, 'Selection du client') }}</div>
	{{ form_widget(edit_form.client, {'attr':{'class':'form-control'}}) }}
	{{ form_errors(edit_form.client) }}


	<div class="label-style">{{ form_label(edit_form.prestation, 'Selection de la prestation') }}</div>
	{{ form_widget(edit_form.prestation, {'attr':{'class':'form-control'}}) }}
	{{ form_errors(edit_form.prestation) }}

	<div class="label-style">{{ form_label(edit_form.modePayement, 'Mode de payement') }}</div>
	{{ form_widget(edit_form.modePayement, {'attr':{'class':'form-control'}} ) }}
	{{ form_errors(edit_form.modePayement) }}

{{ form_end(edit_form) }}
       
       </div>

</div></div></div>
{% endblock %}