

{% block body %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
                    <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}">
              <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/css/index.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/css/bootstrap-datetimepicker.min.css">

    <style type="text/css">
        .card-list {
  margin-top: 15px;
  width: 100%;
}
.card-list:before,
.card-list:after {
  content: " ";
  display: table;
}
.card-list:after {
  clear: both;
}
.card {
  
  border-radius: 5px;
  color: white;
  float: left;
  padding: 10px;
  position: relative;
  width: 25%;
}
.card .glyphicon {
  color: white;
  font-size: 28px;
  opacity: 0.4;
  position: absolute;
  right: 13px;
  top: 13px;
}
.card .stat {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 8px;
  margin-top: 25px;
  padding: 10px 10px 0;
  text-transform: uppercase;
}
.card .title {
  display: inline-block;
  font-size: 12px;
  padding: 5px 5px 0;
  text-transform: uppercase;
}
.card .value {
  font-size: 28px;
  padding: 0 10px;
}
.card.blue {
  background-color: #AFD676;
}
.card.green {
  background-color: #F785A5;
}
.card.orange {
  background-color: #9BB1E9;
}
.card.red {
  background-color: #ECB771;
}
    </style>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 col-xs-1 display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li class="hov_home"><a href="{{ path('home') }}"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li class="hov_cli"><a href="{{ path('clients') }}"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Clients</span></a></li>
                        <li class="hov_pres"><a href="{{ path('prestations') }}"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Prestations</span></a></li>
                        <li class="hov_enc"><a href="{{ path('encaissement') }}"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Encaissements</span></a></li>
                        <li class="hov_fi"><a href="{{ path('fichetechnique') }}"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Fiches technique</span></a></li>
                        <li class="hov_stat"><a href="{{ path('rdv') }}"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Planning</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid">
            <div class="col-md-10 col-sm-10 col-xs-10 ">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->



 <div class=”form-groupe”>
  {{ form(form) }}
  {{ form_rest(form) }}
</div>

   {% include '@FullCalendar/Calendar/calendar.html.twig' %}
<div id='datepicker'></div>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create new event</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="col-xs-4" for="title">Event title</label>
                        <input type="text" name="title" id="title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label class="col-xs-4" for="starts-at">Starts at</label>
                        <input type="text" name="starts_at" id="starts-at" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label class="col-xs-4" for="ends-at">Ends at</label>
                        <input type="text" name="ends_at" id="ends-at" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-event">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 </div>
                </div> 
        </div>

    </div>




</body>


<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title">
                Supression
            </h4>
        </div>
        <div class="modal-body">
            Add some text here
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary">
                Fermer
            </button>
        </div>
    </div>
</div>
</div>

 

   <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
         <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment.min.js')}}"></script>
         <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}"></script>
          <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js')}}"></script>
   
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.default-settings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale/fr.js') }}"></script>
   <script type="text/javascript">
$(document).ready(function() {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            selectHelper: true,
            select: function(start, end) {
                // Display the modal.
                // You could fill in the start and end fields based on the parameters
                $('.modal').modal('show');

            },
            
             eventClick:  function(event, jsEvent, view) {
            endtime = $.fullCalendar.moment(event.end).format('H:mm');
            starttime = $.fullCalendar.moment(event.start).format('dddd, Do MMMM  YYYY, H:mm');
            isAllDay = $.fullCalendar.moment(event.start).format('dddd, Do MMMM  YYYY');
 
            var mywhen = starttime + ' - ' + endtime;
            console.log(event);
            $('#modalTitle').html(event.title);
            if(event.allDay == true) {
                $('#modalWhen').text(isAllDay);
            }else {
                $('#modalWhen').text(mywhen);
            }
            $('#eventID').val(event.id);
            $('#calendarModal').modal();
        },

            eventDrop: function(event){
            console.log("Entrée dans : eventDrop");
            console.log(event);
            var start1 = event.start.format("YYYY-MM-DD HH:mm:ss");
            var end1 = event.end.format("YYYY-MM-DD HH:mm:ss");
 
            var xhr = $.ajax({
 
                url: '/rdv/drop',
                data: 'action=update&title=' + event.title+'&start=' + start1 +'&end=' + end1 + '&id=' + event.id,
                type: "POST",
                success: function(data) {
                    console.log(data);
                    window.location.reload(true);
                    //alert(json);
                },
                error: function() {
                    alert("erreur lors de l'appel de l'url dans POST event/drop : contactez l'administrateur du site");
                },
            });
        },
               
            editable: true,
            eventLimit: true,
            allDaySlot: false,
             eventSources: [
        {
            url: '/full-calendar/load',
            type: 'POST',
            color : 'green',  
          
        }
                          ]// allow "more" link when too many events


 
    });
 
    $('#deleteButton').on('click', function(e){
        // We don't want this to act as a link so cancel the link action
        confirm('Souhaitez-vous réellement supprimer cet événement?');
        e.preventDefault();
        doDelete();
    });
 
    function doDelete(){
        $("#calendarModal").modal('hide');
        var eventID = $('#eventID').val();
        $.ajax({
            url: 'rdv/delete',
            data: 'action=delete&id='+eventID,
            type: "POST",
            success: function(json) {
                if(json == 1){
                    $("#calendar").fullCalendar('removeEvents',eventID);
                } else{
                    return false;
                }
            }
        });
        $(document).ajaxStop(function(){
            window.location.reload();
        });
    }
    }); /* Document function*/

    //Editer un evenement
    $('#editButton').on('click',function () {
        var eventID = $('#eventID').val();
        //window.location.reload(true);
        $("#editModal").modal('show');
        console.log('Entrée modal:ok');
        console.log(eventID);
 
        $('#saveButton').on('click', function(e){
            var newTitle = $('.input_edit_title').val();
            console.log(newTitle);
            $.ajax({
 
                url: 'rdv/edit/title',
                data: 'action=editTitle&id='+eventID+ '&new title=' + newTitle,
                type: "POST",
                //dataType : 'json'
                success: function(data) {
                    console.log(data);
                    window.location.reload(true);
                    //alert(json);
                },
            });
        });
});
         /* Calendar function */


    
   
             
      
</script>
  
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
   
{% endblock %}