{% extends "DressmeBundle:Dressme:home.html.twig" %}

 {% block body %}

 <style>


/* NOUVEAU TABLEAU */
.tab {
	background-color: white;
}
#tab2 {
 
  color: #AFD676;
  text-align: center;
  text-decoration: bold;
}
.modal-header{
  background-color: #AFD676;
  color: white;
}

</style>
<br>

<div class="row">
<div class="col-sm-4 col-xs-2"></div>
<!--  BOUTON AJOUTER CLIENT: Ouvre un modal -->
<div class="col-sm-4 col-xs-6"><button type="button" class="btn btn-client btn-block btn-lg" data-toggle="modal" data-target="#ajoutClient">+ Ajouter un client</button></div></div>
 <br>

<!-- MODAL AJOUTER CLIENT -->
<div id="ajoutClient" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ajout d'un client</h4>
      </div>
      <div class="modal-body">
 

   {{ form_start(form) }}


  <div class="form-groupe">
  <div class="label-style">{{ form_label(form.categorie, 'Selection du client') }}</div>
  {{ form_widget(form.categorie, {'attr':{'class':'form-control'}}) }}
  {{ form_errors(form.categorie) }}




{{ form_end(form) }}
<br> <button type="submit" class="btn btn-client ">Valider</button>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- FIN DU MODAL AJOUTER CLIENT -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<div class="col-sm-4 col-xs-4"></div>
</div> <br><br>

<div class="tab">
<div class="container">

	 <h2 id="tab2">Liste des clients</h2><br>
		<div class="col-xs-12 col-sm-12 col-md-12 ">
			<div class="table-responsive">
			  <table class="table">
                    <label id="tab2">Recherche : </label> <input id="myInput" class="form-control" type="text" placeholder="Par nom, prénom..">
			        <thead>
				      <tr>
				        <th>id</th>
				        <th>Nom</th>
				        <th>Prénom</th>
				       <!--  <th>Catégorie</th> -->
				        <th>Action</th>
				      </tr>
				    </thead>
				    <tbody id="myTable">
				       {% for client in client %}
       
              <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <!-- <td></td> -->
                <td><a href="{{ path('client_edit', { 'id': client.id }) }}"><button type="button" class="btn btn-client">Modifier</button></a>

<a href="{{ path('client_delete', { 'id': client.id }) }}"><button type="button" class="btn btn-danger ">Supprimer</button></a>
<a href="{{ path('fichetechnique') }}"><button type="button" class="btn btn-fiche ">Fiche technique</button></a></td>
{% endfor %}
				      </tr>
<!-- MODAL MODIFICATION CLIENT -->
<div id="modifierClient" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- FIN MODAL MODIFICATION -->
<!-- MODAL FICHE TECHNIQUE -->
<div id="ficheClient" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Fiche technique de : </h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- FIN FICHE TECHNIQUE-->
<!-- MODAL SUPPRESSION CLIENT -->
<div id="supprimerClient" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Supprimer un client</h4>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer ce client ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- FIN MODAL SUPPRESSION -->


				    </tbody>
			  </table>
			</div>
		
	
</div>
</div>
</div>



   {% endblock %}