{% extends "DressmeBundle:Dressme:home.html.twig" %}

 {% block body %}
  <style>

/* NOUVEAU TABLEAU */
.tab {
	background-color: white;
}

</style>

 <div class="row">
<div class="col-sm-4 col-xs-2"></div>
<!--  BOUTON AJOUTER CLIENT: Ouvre un modal -->
<div class="col-sm-4 col-xs-6"><button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#newEnc">+ Encaisser</button></div></div>

<!-- MODAL NOUVEL ENCAISSEMENT -->
<div id="newEnc" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Encaissement</h4>
      </div>
      <div class="modal-body">
 

 	 {{ form_start(form) }}


	<div class="form-groupe">
	<div class="label-style">{{ form_label(form.client, 'Selection du client') }}</div>
	{{ form_widget(form.client, {'attr':{'class':'form-control'}}) }}
	{{ form_errors(form.client) }}


	<div class="label-style">{{ form_label(form.prestation, 'Selection de la prestation') }}</div>
	{{ form_widget(form.prestation, {'attr':{'class':'form-control'}}) }}
	{{ form_errors(form.prestation) }}

	<div class="label-style">{{ form_label(form.modePayement, 'Mode de payement') }}</div>
	{{ form_widget(form.modePayement, {'attr':{'class':'form-control'}} ) }}
	{{ form_errors(form.modePayement) }}

{{ form_end(form) }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- FIN DU MODALNOUVEL ENCAISSEMENT -->
<br><br>


<div class="col-sm-4 col-xs-4"></div>
</div> <br><br>
<div class="tab">
<div class="container">
	
		<div class="col-xs-12 col-sm-12 col-md-12 ">

<h2>Liste des encaissements</h2>
			<div class="table-responsive">
			  <table class="table">
			        <thead>
				      <tr>
				        <th>id</th>
				        <th>Nom</th>
				        <th>Prestations</th>
				        <th>Prix</th>
				        <th>Payement</th>
				       <!--  <th>Catégorie</th> -->
				        
				      </tr>
				    </thead>
				    <tbody>
			 {% for encaissement in encaissement %}
       
              <tr>
                <td>{{ encaissement.id }}</td>
                {% for encaissement in encaissement.client %}
                <td>{{ encaissement.nom }} {{ encaissement.prenom }}</td>
                {% endfor %}
                {% for encaissement in encaissement.prestation %}
                <td>{{ encaissement.libelle }}  </td>
                <td> {{ encaissement.prix }} €</td>
                {% endfor %}
                {% for encaissement in encaissement.modePayement %}
                <td>{{ encaissement.libelle }} </td>
                {% endfor %}
                <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modifierEnc">Modifier</button>
<button type="button" class="btn btn-danger " data-toggle="modal" data-target="#supprimerEnc">Supprimer</button></td>
{% endfor %}
				      </tr>
<!-- MODAL MODIFICATION CLIENT -->
<div id="modifierEnc" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- FIN MODAL MODIFICATION -->
<!-- MODAL SUPPRESSION CLIENT -->
<div id="supprimerEnc" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Supprimer un client</h4>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer ce client ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- FIN MODAL SUPPRESSION -->


				    </tbody>
			  </table>
			</div>
		</div>
	
</div>
</div>
   {% endblock %}